body {
    background: #1e293b;
    color: #fff;
    text-align: center;
    font-family: "DM Sans", sans-serif;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

button {
    background: none;
    border: none;
}

.difficulty {
    padding: 1rem;
}
.heading {
    color: #fff;
    font-family: "DM Serif Display", sans-serif;
}

.text {
    color: #94a3b8;
}

.button {
    background: #129e91;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 0.75rem;
    font-family: "DM Sans", sans-serif;
}

.game-controls, .scrambler {
    opacity: 0;
}

.scrambler {
    padding: 1rem;
    color: #fff;
}
.is-active .game-controls {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.is-active .scrambler {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.input {
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-size: 1rem;
    font-family: "DM Sans", sans-serif;
    width: 100%;
    max-width: 400px;
}

.time-left {
    font-size: 2rem;
    font-family: "DM Sans", sans-serif; 
    padding-top: 3rem;
}

.game {
    font-size: clamp(2rem, 12rem, 20vw);
    font-family: "DM Serif Display", sans-serif;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.scoreboard {
    padding-top: 3rem;
}

.start-button {
    margin-top: 2rem;
}

.scoreboard {
    display: flex;
    gap: 1rem;
    justify-content: center;
}